BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120

AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Always
AllowShortLoopsOnASingleLine: true
AlwaysBreakTemplateDeclarations: Yes
Cpp11BracedListStyle: false
FixNamespaceComments: true
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
PointerAlignment: Left
UseTab: Never
